#Visual Studio Dateien ignorieren
*.sdf
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vsscc
*.vssscc
*.opt
*.dsp
*.dsw
*.plg
*.scc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.pdb
*.exp
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Ii]nstalling/
Temp/
.vs/
packages/
