<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailKit" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1072.54" targetFramework="net48" />
  <package id="MimeKit" version="3.0.0" targetFramework="net48" />
  <package id="MySqlConnector" version="2.1.2" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="Wisej-2" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-AspNetControl" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-CKEditor" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-CoolClock" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-ElegantIcons" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-MaterialDesign" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-ModernUI" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-NavigationBar" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-Pannellum" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-SideButton" version="2.5.23" targetFramework="net48" />
  <package id="Wisej-2-VisualStudioDesigner" version="2.5.21" targetFramework="net48" />
  <package id="Wisej-2-VisualStudioIcons" version="2.5.23" targetFramework="net48" />
</packages>